:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(2, 2, 2, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.green-font{
  color: rgb(89, 134, 20);
}

.blue-font{
  color: rgb(11, 27, 173);
}

.red-font{
  color: rgb(206, 32, 32);
}


.ogloszenia{
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 700;
}

a {
  font-weight: 500;
  color: #1a1a1a;
  font-weight:600;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* min-width: 100%;
  min-height: 100vh; */
}

.site-wrapper{
  width: 100%;
  height: fit-content;
  margin:0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
  width: 100%;
 min-height: 100vh;
background-color: #d1cccc;
}

.hero{
  position: relative;
  height: 1000px;
  background-image: linear-gradient(to top, #967AC1 60%, #fbc8d4 100%);
  /* background-color: #967AC1; */
  display: flex;
  flex-direction: column;
align-content: space-between;
}


.top-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:3em;
  padding: 0 0 0 2em;
}

.top-hero>article{
  margin-top: 3em;
  align-self: stretch;
 font-size: 1.6em;
  max-height: 150px;
  min-width: 200px;
  max-width: 300px;
}

.robot{
  display: block;
  margin-right: 0;
  margin-left: auto;
  width: 100%;
  min-width: 400px;
  max-width: 1200px;
  height: 100%;

}

.bottom-hero{
  position: absolute;
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  /* align-items:baseline; */
  padding: 0 0 40em 0;
  width: 100%;
  /* min-height: 40vh; */
  height: 100px;
  background-image: url("./assets/Vector1.svg");
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom;
 
}

.bottom-hero article{
  padding-top: 2em;
  font-size: medium;
text-align: center;
}


.white-box, .yellow-box{
  padding: 2em;
  min-width: 200px;
  max-width: 400px;
 height: 250px;
  margin-top: 15em;
}

.white-box{
  background-color:white;
  border-radius: 1em 0 0 1em;
}

.yellow-box{
  background-color:#F0D05C;
  border-radius: 0 1em 1em 0;
}

.back-blue{
  display: none;
  margin-top: 450px;
  width: 100%;
  height: 50vh;
  background-color: #5BB3E4;
}

.vector1{
  display: block;
}

nav{
  width: 100%;
  min-height: 100px;
  height: minmax(100px, 15%);
  margin: 0px;

  display: flex;
  align-items: center;
 /* justify-content: center; */
/* align-content: space-around; */
background-color: #1a1a1a;
/* Alternative color #1C5860*/
}

nav a{
  font-size: 1.2rem;
  color:#5BB3E4;
}

.logo{
  display: block;
  height: 80px;
  margin-left: 1.3em;
}

.ev3logo{
  height: 60px;
  border-radius: 0.8em;
  margin-left: 1.3em;
  transform: translateY(25px);
  transition: 0.2s;
}

.ev3logo:hover{
filter:hue-rotate(200deg);
}

.home-menu{
  display: flex;
  align-items: center;
  left: 0;
  margin-right: auto;
  padding-left: 2em;

}

.links-menu{
display: flex;
padding-right: 2em;
gap: 2em;

}

section{
  display: flex;
  margin:0;
  padding:0;
}

content{
display: flex;
justify-content: center;
max-width: auto;
}

.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #1C5860;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.menu-lekcji{
  color:#d1cccc;
  position: relative;
  padding-bottom: 2em;
  width: 15%;
  min-width: 200px;
  max-width: 30%;
min-height: 100%;
  background-color: #1C5860;
}

.menu-lekcji a{
  color:#d1cccc;
}

.arrows{
  color:#1C5860;
  transition: 0.2s;
}

.arrows:hover{
  color:#5BB3E4;
filter:drop-shadow(#1C5860 0px 0px 1px);
}

footer{
  width: 100%;
  min-height: 50px;
  max-height: 80px;
  margin-bottom: 0px;
  margin-top:auto;
  display: flex;
  align-items: center;
 justify-content: space-between;
background-color: #1a1a1a;
z-index: 2;
}

footer>h2{
  color:#d1cccc;
  margin-right: auto;
  margin-left: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.zaloguj{
  background: #f0d05c;
}

.wyloguj{
  color: #f0d05c;
  background: #1C5860;
  font-weight: 700;
  margin-right: 0.5em;
  margin-left: 10px;
  height: 40px;
}

.user-icon{
  margin-right: 0;
}

button {
  color:#1a1a1a;
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wprowadzenie{
  max-width: 85%;
padding: 0 5em;
padding-bottom: 2em;
}

.lekcje-layout{
  display: flex;
  justify-content: space-between;
  }

/*  Images    -----------------------------------------------------   */

.wpro-image{
  margin: auto;
  width: 35vw;
  /* max-width: 720px;
  min-width: 400px; */
}

.onstart{
  width: 40%;
  margin: 2em 0em;
  border-radius: 0.3em;
  border: red dashed 5px;
}

.loops{
  margin: 2em;
width: 35%;
}

.katblocks{
  display: block;
  margin: 2em auto;
width: 50%;
}

.if{
width: 25%;
}

.ifand,.shiba{
width: 65%;
}


.variables-image{
  width: 25%;
}

.arrays-image{
  height: 200px;
  margin: 2em;
}

.options-image{
  width: 50%;
  margin: 1em;
}

.bloki-image{
  width: 90%;
  margin: 1em;
}

.math-image{
 width: 25%;
 aspect-ratio: 1;
 margin: 1em;
}

.program-image{
  width: 95%;
}

.lekcjaszesc-img{
  width: 350px;
  margin: 1em;
}

    /* Przydatne linki--------- */

    .przydatne-linki{
      padding: 3em;
    
    }

      /* Format Lekcji ------- */

    .format-lekcje{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em;
    }

    .format-lekcje div{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .format-lekcje>div{
      flex-direction: column;
     }

     .format-lekcje article{
      margin: 2em 0em;
     }

     .shiba-opis{
      width: 30%;
      padding: 0 1em;
     }

/* Lekcja 6 ---------------------------*/



.tresc{
  font-size: 0.6rem;
  overflow: clip;
  width: 375px;
  padding: 0em 1.5em;
  margin: 0em;
  display: block;
  /* flex-direction: column;
  justify-content: center;
  align-items:center; */
 }

 .lek6-title{
  display: block;
  width: 300px;
  justify-self: left;
 }

.wzor{
  display: flex;
  max-width: 300px;
}

.wzor div{
  display: inline;
  width: fit-content;
  padding: 1em;
}

  #line{
    position: absolute;
    stroke-width: 10;
    margin-left: 10px;
    transform: translateY(58px);
    animation: draw-line 3s linear infinite alternate both;
  }

#circle{
  margin-left: 100px;
  margin-top: 0;
  opacity: 50%;
  width: fit-content;
  height: fit-content;
/*   overflow: hidden; */
  animation: move 3s linear infinite alternate both;
}

.circle{
  display: block;
  max-width: 350px;
}

#whee{
  position: absolute;
  animation: whee 3s linear infinite alternate both;
}

#kolo {
    stroke-width: 10;
    animation: draw-circle 3s linear infinite alternate both;
  
  }

.obliczanie-drogi{
  display: block;
  overflow: hidden;
  padding-left: 0.5em;
  max-width: 320px;
}

.droga{
  display: block;
  stroke-width: 10px;
  margin: 0;
  padding: 0;
}

 .odcdrogi{
  position: absolute;
  display: inline;
  margin: 0;
  padding: 0;
 }

.obwod{
 display:block;
  padding:0em 1em;
  width: 320px;
}

#jazda{
  max-width: 320px;
}

 .numery-odc{
  display: flex;
  max-width: 274px;
  color: blue;
  justify-content:space-between;
 }

 .numery-odc h2:nth-child(2){
  animation: odc1 3s linear infinite both;
 }

 .numery-odc h2:nth-child(3){
  animation: odc2 3s linear infinite both;
 }

 .numery-odc h2:nth-child(4){
  animation: odc3 3s linear infinite both;
 }

 #odc1{
  margin-left: 0px;
 }

 #odc2{
  margin-left: 75px;
  animation: odc1 3s linear infinite both;
 }

 #odc3{
  margin-left: 150px;
  animation: odc2 3s linear infinite both;
 }

 #odc4{
  margin-left: 225px;
  animation: odc3 3s linear infinite both;
 }

 #droga{
  display: block;
  margin-top: 0;
  stroke-width: 10px;
  margin: 0;
 }

 .droga-wzory{
  margin: 2em;
 }

 .kolo{
  max-width: 100px;
  overflow: hidden;
  animation: kolo 3s linear infinite both;
 }
  
 #wheel{
  margin: 0;
  animation: wheel 3s linear infinite both;
 }

 /* Lekcja 7 -------------------------------------------------------- */
 
 
 .layout7{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap:3em;
  width: 50%;
}

/* .skretB{
  position:relative;
} */

 .centrum{
  position: relative;
  margin: auto;
  width: 250px;
  aspect-ratio: 1;
  transform: rotate(90deg);
}

.slad,.slad2{
  --size: 10px;
  --offset: 75px;
  position: absolute;
margin: 120px 120px;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
}

.slad2{
background-color: red;
}


.slider{
  margin-top:5em;
  direction: ltr;
}

.robo{
  position: absolute;
  width: 250px;
  aspect-ratio: 1;
  margin: auto;
}

.obrotB{
  position: relative;
width: 500px;
aspect-ratio: 1;
/* background: blue; */
}

.centrumB{
  position: absolute;
  left: 50px;
  top: 132px;
  width: 250px;
  aspect-ratio: 1;
  transform-origin:195px 45%;
  /* background-color: red; */
}

.roboB{
  position: absolute;
  margin: auto;
  width: 250px;
  aspect-ratio: 1;
  transform:rotate(90deg);
}

.point{
  position: absolute;
left: 245px;
top: 245px;
  width: 10px;
  aspect-ratio: 1;
  /* background-color: black; */
  z-index: 2;
}

.sladB{
  position: absolute;
margin: 240px 240px;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
}

  @keyframes draw-circle {
    /* At 0%, the circle has no stroke */
    0% {
      transform: translateY(-127.5px) rotate(-90deg) scaleX(-1);
      stroke-dasharray: 200 0; /* 628 is the circumference of the circle */
      stroke-dashoffset: 0;
    }
    /* At 100%, the circle has a full stroke */
    100% {
        /* transform: rotate(-270deg); */
      stroke-dasharray: 0 200;
    transform: translateY(-127.5px) rotate(-90deg) scaleX(-1);
       /* 314 is half of the circumference */
    }
  }
  
  @keyframes draw-line {
    /* At 0%, the circle has no stroke */
    0% {
      stroke-dasharray: 0 205; /* 628 is the circumference of the circle */
      stroke-dashoffset: 0;
    }
    /* At 100%, the circle has a full stroke */
    100% {
     transform: translateY(58px);
      stroke-dasharray: 200 0;
    
       /* 314 is half of the circumference */
    }
  }

  @keyframes move {
    0% {
      transform: translateY(59px) translateX(-190px);
    }
    100%{
      transform: translateY(59px) translateX(10px);
    }
  }
  

  @keyframes odc1 {
    0% {
      opacity: 0;
  }
  33%{
    opacity: 0;
  }
  40%{
    opacity: 100;
  }
    100%{
      opacity: 100;
  }
  }

  
  @keyframes odc2 {
    0% {
      opacity: 0;
  }
  60%{
    opacity: 0;
  }
  66%{
    opacity: 100;
  }
    100%{
      opacity: 100;
  }
  }

  
  @keyframes odc3 {
    0% {
      opacity: 0;
  }
  85% {
    opacity: 0;
  }
  93%{
    opacity: 100;
  }
    100%{
      opacity: 100;
  }
  }

@keyframes kolo {
  0% {
 
  }
  100%{
    transform: translateX(220px);
  }
}

@keyframes whee {
  0% {
    transform: translateX(-22.5px);
  }
  100%{
    transform: translateX(177.5px) rotate(360deg);
  }
}

@keyframes wheel {
  0% {
 
  }
  100%{
    transform: rotate(1170deg);
  }
}

/* ---------------------------------*/

@media (max-width: 1400px){
  .top-hero>article{
    font-size: 1.5rem;
    line-height: 1.2em;
  }
}     

@media (max-width: 1200px){

  .top-hero>article{
    font-size: 0.96rem;
    line-height: 1.3em;
  }

  .bottom-hero{
    margin-top: 30%;
  padding: 0 0 25em 0;
}

.white-box{
border-bottom: 7px solid #5BB3E4;
border-left: 7px solid #967AC1;
}

.yellow-box{
  border-bottom: 7px solid #5BB3E4;
  border-right: 7px solid #967AC1;
}

.back-blue{
  margin-top: 100px;
  width: 100%;
  height: 70vh;
}

.vector1{
  display: block;
}

section{
  display: block;
  margin:0;
  padding:0;
}

.menu-lekcji{
 
  text-align: center;
  position: relative;
  padding-bottom: 1em;
  min-width: 100%;
max-height: fit-content;
  background-color: #1C5860;
}

.menu-lekcji>h1{
  margin-top: 0;
}

.menu-lekcji>div{
  margin-top: 0;
  text-align: left;
}


}


@media (max-width: 1000px){

  .bottom-hero{
    margin-top: 25vh;
    padding: 0 0 16em 0;
  }
  
  .back-blue{
    margin-top: 100px;
    width: 100%;
    height: 70vh;
  }

  .vector1{
    display: none;
  }

  nav a{
    font-size: 1rem;
    color:#5BB3E4;
  }
}

@media (max-width: 787px){

  .logo{
  
    margin-left: 0.5em;
    margin-right: 0.7em;
  }
  .robot{
    width: 80%;
    min-width: 150px;
    max-width: 400px;
    margin: 0 auto;
  }

.top-hero{
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 0;
}

.top-hero>article{
  margin: 3em auto;
  width: 80%;
 min-width: 150px;
 max-width: 400px;
 line-height: 1.7em;
}

.zaloguj{
  margin: 3em auto 0 auto;
}

.bottom-hero{
  position: relative;
  flex-direction: column;
  height: 40vh;
  margin-top: 21%;
  padding: 0 0 12em 0;
  background-image: none;
background-color: #5BB3E4;
}

.bottom-hero article{
font-size: medium;
padding: 1em;

}


.back-blue{
  display: none;
  margin-top: auto;
  width: 100%;
  height: 70vh;
}
 

.white-box, .yellow-box{
  width: 80%;
  min-width: 150px;
  max-width: 400px;
  height: 200px;
  margin: 1em auto;
  margin-top: 5em;
  border: none;
}

.white-box{
  border-radius:0 0 1em 1em;
  border-top: solid #5BB3E4 7px;
}

.yellow-box{
  border-radius: 1em;
}

.vector1{
  display: none;
}

.wprowadzenie{
  padding: 1em;
}

.wprowadzenie a{
  font-size: 0.9em;
}

.wprowadzenie>h1{
  display: inline-block;
  font-size: clamp(1.5em, 2.7rem, 70px);
}

.format-lekcje>h1{
  font-size: 2em;
}

.wpro-image, .katblocks{
  width: 100%;
}

.shiba-opis{
  width: 95%;
  padding: 0 0.5em;
 }

 .shiba{
  width: 95%;
  padding: 1em 0;
  margin: 0;
 }

 .loops,.if,.onstart,.ifand,.variables-image,.math-image,.options-image,.bloki-image{
  margin: 0;
width: 95%;
}

  .lekcjaszesc-img{
  width: 250px;
  margin: 0.5em;
}

.layout7{
  gap:3em;
  width: 100%;
}
  
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
